USE [master]
GO
/****** Object:  Database [QuanLyCamDo]    Script Date: 12/05/2026 2:28:13 CH ******/
CREATE DATABASE [QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 12/05/2026 2:28:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract](
    @MaHD INT, 
    @TargetDate DATETIME
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @GocBanDau DECIMAL(18,2), @NgayVay DATETIME, @DL1 DATETIME;
    DECLARE @TongPhaiTra DECIMAL(18,2);

    -- Lấy thông tin từ bảng HopDong
    SELECT 
        @GocBanDau = SoTienVayGoc, 
        @NgayVay = NgayLap, 
        @DL1 = Deadline1 
    FROM HopDong WHERE MaHD = @MaHD;

    -- TRƯỜNG HỢP 1: TargetDate vẫn nằm trong hạn lãi đơn (<= Deadline1)
    IF @TargetDate <= @DL1
    BEGIN
        SET @TongPhaiTra = @GocBanDau + dbo.fn_CalcMoneyTransaction(@GocBanDau, @NgayVay, @TargetDate);
    END
    
    -- TRƯỜNG HỢP 2: Đã vượt quá Deadline 1 (Tính lãi kép)
    ELSE
    BEGIN
        -- B1: Tính Gốc + Lãi đơn tích lũy đến mốc Deadline 1
        DECLARE @GocMoi DECIMAL(18,2) = @GocBanDau + dbo.fn_CalcMoneyTransaction(@GocBanDau, @NgayVay, @DL1);
        
        -- B2: Tính số ngày bị tính lãi kép (từ Deadline 1 đến TargetDate)
        DECLARE @SoNgayLaiKep INT = DATEDIFF(day, @DL1, @TargetDate);
        
        -- B3: Áp dụng công thức lũy thừa lãi kép: A = P * (1 + r)^n
        -- r = 0.005 (0.5% mỗi ngày)
        SET @TongPhaiTra = @GocMoi * POWER(1 + 0.005, @SoNgayLaiKep);
    END

    RETURN @TongPhaiTra;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 12/05/2026 2:28:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction](
    @SoTien DECIMAL(18,2), 
    @TuNgay DATETIME, 
    @TargetDate DATETIME
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @SoNgay INT = DATEDIFF(day, @TuNgay, @TargetDate);
    
    -- Nếu ngày mục tiêu trước ngày bắt đầu thì không tính lãi
    IF @SoNgay <= 0 RETURN 0;

    -- Công thức: 5.000đ / 1.000.000đ gốc / ngày
    -- Tương đương lãi suất 0.5% mỗi ngày
    DECLARE @LaiSuatHangNgay FLOAT = 0.005; 
    
    RETURN @SoTien * @LaiSuatHangNgay * @SoNgay;
END
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 2:28:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](20) NOT NULL,
	[SoDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/05/2026 2:28:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayLap] [datetime] NULL,
	[SoTienVayGoc] [decimal](18, 2) NOT NULL,
	[Deadline1] [datetime] NOT NULL,
	[Deadline2] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachNoXau]    Script Date: 12/05/2026 2:28:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DanhSachNoXau] AS
SELECT 
    kh.HoTen AS [Tên Khách Hàng],
    kh.SoDT AS [Số Điện Thoại],
    hd.SoTienVayGoc AS [Số Tiền Vay Gốc],
    DATEDIFF(day, hd.Deadline1, GETDATE()) AS [Số Ngày Quá Hạn],
    dbo.fn_CalcMoneyContract(hd.MaHD, GETDATE()) AS [Tổng Tiền Hiện Tại],
    dbo.fn_CalcMoneyContract(hd.MaHD, DATEADD(day, 30, GETDATE())) AS [Tổng Tiền Sau 1 Tháng]
FROM HopDong hd
JOIN KhachHang kh ON hd.MaKH = kh.MaKH
WHERE 
    hd.TrangThai NOT IN (N'Đã thanh toán đủ', N'Đã thanh lý') 
    AND GETDATE() > hd.Deadline1;
GO
/****** Object:  Table [dbo].[LichSuBienDong]    Script Date: 12/05/2026 2:28:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuBienDong](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[NgayGiaoDich] [datetime] NULL,
	[LoaiGiaoDich] [nvarchar](100) NULL,
	[SoTienPhatSinh] [decimal](18, 2) NULL,
	[DuNoHienTai] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 12/05/2026 2:28:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[TenTaiSan] [nvarchar](255) NOT NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[TinhTrangTS] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichSuBienDong] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TinhTrangTS]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[LichSuBienDong]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDongMoi]    Script Date: 12/05/2026 2:28:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DangKyHopDongMoi]
    @HoTen NVARCHAR(100),
    @CCCD VARCHAR(20),
    @SoDT VARCHAR(15),
    @DiaChi NVARCHAR(255),
    @SoTienVay DECIMAL(18,2),
    @Deadline1 DATETIME,
    @Deadline2 DATETIME,
    @TenTaiSan NVARCHAR(255),
    @GiaTriDinhGia DECIMAL(18,2)
AS
BEGIN
    -- Sử dụng TRANSACTION để đảm bảo nếu một bước lỗi thì toàn bộ sẽ bị hủy (an toàn dữ liệu)
    BEGIN TRANSACTION;
    BEGIN TRY
        -- BƯỚC 1: Xử lý thông tin Khách hàng
        DECLARE @MaKH_HienTai INT;
        SELECT @MaKH_HienTai = MaKH FROM KhachHang WHERE CCCD = @CCCD;

        IF @MaKH_HienTai IS NULL
        BEGIN
            INSERT INTO KhachHang (HoTen, CCCD, SoDT, DiaChi)
            VALUES (@HoTen, @CCCD, @SoDT, @DiaChi);
            SET @MaKH_HienTai = SCOPE_IDENTITY(); -- Lấy mã vừa tự sinh
        END

        -- BƯỚC 2: Tạo Hợp đồng
        DECLARE @MaHD_Moi INT;
        INSERT INTO HopDong (MaKH, SoTienVayGoc, Deadline1, Deadline2, TrangThai)
        VALUES (@MaKH_HienTai, @SoTienVay, @Deadline1, @Deadline2, N'Đang vay');
        SET @MaHD_Moi = SCOPE_IDENTITY();

        -- BƯỚC 3: Lưu Tài sản thế chấp
        INSERT INTO TaiSan (MaHD, TenTaiSan, GiaTriDinhGia)
        VALUES (@MaHD_Moi, @TenTaiSan, @GiaTriDinhGia);

        -- BƯỚC 4: Ghi nhận biến động nợ ban đầu vào bảng Log
        -- Giả sử bảng Log của bạn có tên là LichSuBienDong hoặc BIEN_DONG_HOP_DONG
        INSERT INTO LichSuBienDong (MaHD, NgayGiaoDich, LoaiGiaoDich, SoTienPhatSinh, DuNoHienTai)
        VALUES (@MaHD_Moi, GETDATE(), N'Mở hợp đồng', 0, @SoTienVay);

        -- Nếu mọi thứ ổn, xác nhận lưu vào ổ đĩa
        COMMIT TRANSACTION;
        PRINT N'Đăng ký hợp đồng thành công!';
    END TRY
    BEGIN CATCH
        -- Nếu có lỗi (trùng khóa, sai kiểu dữ liệu...), quay xe ngay
        ROLLBACK TRANSACTION;
        PRINT N'Lỗi hệ thống: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 12/05/2026 2:28:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_XuLyTraNo]
    @MaHD INT,
    @SoTienKhachTra DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TrangThai NVARCHAR(50), @TongNoHienTai DECIMAL(18,2);
    DECLARE @DuNoSauKhiTra DECIMAL(18,2);

    -- 1. Lấy trạng thái hợp đồng hiện tại
    SELECT @TrangThai = TrangThai FROM HopDong WHERE MaHD = @MaHD;

    -- 2. Kiểm tra nếu đã thanh lý tài sản (IsSold)
    -- Giả sử bạn có cột IsSold hoặc trạng thái 'Da thanh ly'
    IF @TrangThai = N'Đã thanh lý'
    BEGIN
        PRINT N'Thông báo: Tài sản đã bị thanh lý. Không thu tiền, không trả đồ.';
        RETURN;
    END

    -- 3. Tính tổng nợ thời gian thực (Dùng hàm đã viết ở Event 2)
    SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());
    SET @DuNoSauKhiTra = @TongNoHienTai - @SoTienKhachTra;

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 4. Cập nhật trạng thái Hợp đồng
        IF @DuNoSauKhiTra <= 0
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
            PRINT N'Khách đã trả hết nợ. Vui lòng trả lại toàn bộ tài sản!';
            SET @DuNoSauKhiTra = 0;
        END
        ELSE
        BEGIN
            UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
            PRINT N'Số tiền còn nợ sau khi trả: ' + CAST(@DuNoSauKhiTra AS VARCHAR(20));
        END

        -- 5. Ghi vào Log biến động
        INSERT INTO LichSuBienDong (MaHD, NgayGiaoDich, LoaiGiaoDich, SoTienPhatSinh, DuNoHienTai)
        VALUES (@MaHD, GETDATE(), N'Khách trả tiền', @SoTienKhachTra, @DuNoSauKhiTra);

        -- 6. Gợi ý tài sản có thể trả lại
        -- Điều kiện: Tổng giá trị tài sản còn lại >= Dư nợ còn lại
        PRINT N'--- GỢI Ý TRẢ TÀI SẢN ---';
        
        DECLARE @TongGiaTriTaiSan DECIMAL(18,2);
        SELECT @TongGiaTriTaiSan = SUM(GiaTriDinhGia) FROM TaiSan WHERE MaHD = @MaHD;

        -- Truy vấn các món đồ khách có thể rút về sớm
        SELECT TenTaiSan, GiaTriDinhGia, 
               (@TongGiaTriTaiSan - GiaTriDinhGia) AS GiaTriConLaiNeuRutMonNay
        FROM TaiSan
        WHERE MaHD = @MaHD 
          AND (@TongGiaTriTaiSan - GiaTriDinhGia) >= @DuNoSauKhiTra;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT N'Lỗi xử lý: ' + ERROR_MESSAGE();
    END CATCH
END
GO
USE [master]
GO
